<% if signed_in? %>
  <li><%= link_to 'Strains', strains_path %></li>
  <li><%= link_to 'Lots', lots_path %></li>
  <li><%= link_to @current_user, user_path(@current_user) %></li>
  <li><%= link_to 'Sign out', signout_path, method: 'delete' %></li>
  <li><%= link_to 'About', '/about' %></li>
<% else %>
  <li><%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %></li>
  <li><%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %></li>
  <li><%= link_to "About", '/about' %></li>
<% end %>

